/* CSS for google-homepage */

body {
    font-family: 'arial';
}

.nav-item a {
    color: rgb(70, 70, 70);
    text-decoration: none;
    padding: 0 0.4rem;
    font-size: 0.8rem;
    margin: 0.7rem 0;
}

.navbar{
    margin: 1rem 0%;
    max-width: 100%;
    padding: 0%;
}

.btn-primary{
    padding: .4em .8rem;
    margin-left: 0.4rem;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #4683ea;
    border-radius: .15rem;
}

.fa-th{
    color: gray;
    padding: 0.5rem 1rem;
}
.fa-search{
    color: rgb(179, 179, 179);

}

.nav-item a:hover {
    text-decoration: underline;
    color: black;
}

.fa-th:hover {
    color:black;
}

#google-image{
    height: 14rem;
}
#search-box{
    border: 1px solid #dfe1e5;
    width: 30rem;
    border-radius: 5rem;
    padding: 0.6rem;
    margin: 2rem;
}

#google-search{
    width: 25rem;
    border: none;
    background-color: white;
}

#search-box:hover{
    box-shadow: 0 0 5px rgba(160, 160, 160, 0.5);
}
